<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.alokpandey.stat">


    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:hardwareAccelerated="false"
        android:largeHeap="true"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.alokpandey.stat.Imageviewer"
            android:screenOrientation="portrait"/>
        <activity android:name="com.alokpandey.stat.VideoplayerActivity"
            android:screenOrientation="portrait"/>

        <activity
            android:name="com.alokpandey.stat.MainActivity"
            android:theme="@style/AppTheme"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.alokpandey.stat.GalleryActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.alokpandey.stat.ShowImages"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name="com.alokpandey.stat.GalleryVideoActivity" />
        <activity
            android:name="com.alokpandey.stat.ShowVideo"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>


        <activity
            android:name="com.alokpandey.stat.WaActivity"
            android:theme="@style/DuplicateAppTheme"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.alokpandey.stat.StoryGalleryActivity"
            android:theme="@style/DuplicateAppTheme"
            android:screenOrientation="portrait"/>
    </application>

</manifest>